:root {
    --primary:#2080be;
    --secondary: #ef7e22;
    --accents:#bad232;
    --text:#333333;
    --white: #white;
    --gray:gray;
    --font:16px;
    --transition: .3s linear;
}
/* ******************
basic styles
***************** */
body {
    font-size:var(--font);
    color:var(--text);

}
a {
    transition: var(--transition);
    text-decoration: none;
}
/* ******************
topbar
***************** */
.topbar {
    font-size: 0.9rem;
}
.topbar a {
    color:var(--accents);
}
.top a:hover {
    color: var(--primary);
}
/* ******************
navbar
***************** */
.navbar-brand img {
width: 70px;
}
nav {
    border-bottom: 5px solid var(--accents);
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 2rem;
    left: 15%;
    padding-top: 1.25rem;
    color:#fff;
    text-align: center;
}
